#page{
	min-width: 600px;
	max-width: 800px;
	margin: 20px auto 40px auto;
	background-color: white;
	min-height:50%;

	padding-bottom: 50px;

	border-radius: 5px;
	box-shadow: 0px 0px 10px 5px #555;
}

#page_header {
	clear: both;
}

#teamAScore {
	float: left;
	background-color: #F97083;
	border-radius: 5px 0px 0px 0px;
}

#teamBScore {
	float: right;
	background-color: #7080D7;
	border-radius: 0px 5px 0px 0px;
}


.score {
	font: normal normal bold 3em Arial, sans-serif;
	width: 50%;
	text-align: center;
	box-shadow: 0px 10px 10px -10px #555;
}

#gaming_field{
	clear: both;
}


body {
	background-color: #FDFF73;
}

.clear {
	clear: both;
}

#gaming_field {
	text-align: center;
	padding: 15px 0px 15px 0px;
}

#gaming_field table {
	#width: 504px; # 8 * 63
	#height: 504px;
	margin: 5px auto 5px auto;
	border-spacing: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: 030303;
}

#gaming_field td {
	width: 4em;
	height: 4em;
	vertical-align: top;
	text-align: left;
	border-style: solid;
	border-color: 030303;
	border-width: 1px;
	margin: 0px;
	padding: 0px;
}

#controlls {
	text-align: right;
	padding-right: 10px;
}

#controlls input {
	font-size: 5em;
}


#logs {
	padding: 10px;
}

.agent_log {
	float: left;
	box-shadow: 0px 0px 3px 1px #555;
	margin: 5px;
	padding: 3px;
	min-width:30%;
}

.agent_log textarea {
	width: 100%;
}

.team_a_log {
	background-color: #F97083;
}

.team_b_log {
	background-color: #7080D7;
}


#gaming_field .Point {
	width: 1em;
	height: 1em;
	padding: 0px;
	background-image: url(../images/point.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
	float: left;
}

#gaming_field .TeamAAgent {
	width: 2em;
	height: 2em;
	float: left;
	background-image: url(../images/agent_red.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 100%;
	margin: 0px;
	padding: 0px;
}

#gaming_field .TeamBAgent {
	width: 2em;
	height: 2em;
	float: left;
	background-image: url(../images/agent_blue.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 100%;
}

#main_log {
	width: 100%;
	min-height: 8em;
}


